COMPOSE_PROJECT_NAME=gatelm

POSTGRES_USER=admin
POSTGRES_PASSWORD=adminpassword
POSTGRES_DB=gatelm_db
POSTGRES_PORT=5432

REDIS_PORT=6379

DATABASE_URL=postgresql://admin:adminpassword@localhost:5432/gatelm_db
REDIS_URL=redis://localhost:6379
