AI_SERVICE_HOST=127.0.0.1
AI_SERVICE_PORT=8001
AI_SERVICE_LOG_LEVEL=INFO
AI_SERVICE_REMOTE_SAFETY_MODE=disabled
AI_SERVICE_ACCESS_LOG_ENABLED=false
AI_SERVICE_TRANSFORMERS_OFFLINE=1
AI_SERVICE_AI_SAFETY_DETECTOR_MODEL_ID=.cache/huggingface/models/openai--privacy-filter
AI_SERVICE_AI_SAFETY_ADDITIONAL_DETECTOR_MODEL_IDS=.cache/huggingface/models/amoeba04--koelectra-small-v3-privacy-ner
