AI_SERVICE_HOST=127.0.0.1
AI_SERVICE_PORT=8001
AI_SERVICE_LOG_LEVEL=INFO
AI_SERVICE_REMOTE_SAFETY_MODE=disabled
AI_SERVICE_ACCESS_LOG_ENABLED=false
AI_SERVICE_TRANSFORMERS_OFFLINE=1
AI_SERVICE_AI_SAFETY_DETECTOR_RUNTIME=transformers
AI_SERVICE_AI_SAFETY_DETECTOR_MODEL_ID=.cache/huggingface/models/openai--privacy-filter
AI_SERVICE_AI_SAFETY_ADDITIONAL_DETECTOR_MODEL_IDS=.cache/huggingface/models/amoeba04--koelectra-small-v3-privacy-ner
AI_SERVICE_LLM_CLASSIFIER_ENABLED=false
AI_SERVICE_LLM_CLASSIFIER_BASE_URL=http://127.0.0.1:8002/v1
AI_SERVICE_LLM_CLASSIFIER_MODEL=kakaocorp/kanana-1.5-8b-instruct-2505
AI_SERVICE_LLM_CLASSIFIER_TIMEOUT_MS=1000
AI_SERVICE_LLM_CLASSIFIER_TOTAL_TIMEOUT_MS=2000
AI_SERVICE_LLM_CLASSIFIER_WINDOW_MAX_CHARS=1000
AI_SERVICE_LLM_CLASSIFIER_WINDOW_MAX_COUNT=3
AI_SERVICE_LLM_CLASSIFIER_TEMPERATURE=0
AI_SERVICE_LLM_CLASSIFIER_MAX_TOKENS=192
